nav {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0.5rem 1.5rem;
    width: 100%;

    background-color: black;
}

nav > brand {
    color: white;
}

nav > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

brand .logo {
    padding: 0;
    margin: 0;
}

button.small {
    font-size: xx-small;
}

card {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    min-width: 400px;
    min-height: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


card header {
    background-color: black;
    color: white;
    padding: 0.25rem 1.5rem;
}

card * {
    margin: 0;
}

card section {
    padding: 1.5rem;
}