/* Nav Overrides */
.nav {
  background-color: black;
  color: white;
  padding: 0 1rem;
  min-height: 4rem;
}

.nav button {
  margin: 0;
}

/* Card Overrides */
.card .card-header {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

.card-body {
  padding: 0;
}

.card-body.padded {
  padding: 2rem;
}

.cards {
  overflow: unset;
}

/* Generic Scrollable List */
list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 600px;
  min-height: 150px;
}

list > item:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Utility */
.debug * {
  border: 1px dotted black inset;
  background-color: white;
  color: black;
}

.padded {
  padding: 2rem;
}

.side.padded {
  padding: 0 2rem;
}

.fade.in {
  opacity: 1;
}

.close {
  position: relative;
  color: inherit;
  float: right;
}

.danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

/* Alert */
.alert {
  display: none;
  position: relative; 
  border: 1px solid transparent;
  padding: 1rem 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.alerts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.alerts > .alert {
  margin-bottom: 2rem;
}

/* Notifications */
/* Cleanup: hardcoded position based on nav size. */
.notifications {
  position: absolute;
  top: 8rem;
  right: 3rem;
}

/* Form Errors */
.error input,
.error select {
  border-color: red;
}

.error-message {
  display: none;
  position: relative; 
  border: 1px solid transparent;
  padding: 1rem 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.error .error-message {
  display: inline-block;
}

.error-message::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f2dede;
  position: absolute;
  top: -10px;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

button[disabled]:hover {
  background-color: grey;
}

